.headertop{
    gap: 2rem;
}
.offerspan{
    font-family: "Lora", serif;
    font-size: 20px;
}
.headerbottom{
    margin: 1.5rem;
}
section{
    margin: 1.5rem;
}
body{
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.name{
    font-family: "Rubik Scribble", system-ui;
    color: darkred;
    font-size: 2.5rem;
    text-shadow: 3px 3px 6px red;
}
.name:hover{
    font-size: 3rem;
}
.navlist{
    font-family: "Workbench", sans-serif;
    color: blue;
    font-size: 1.5rem;
    text-shadow: 3px 3px 6px red;
}
.navlist:hover{
    color: black;
    text-shadow: 3px 3px 6px blue;
    font-size: 2rem;
}
.headright span{
    font-weight: 700;
    font-size: 2.5rem;
    color: blue;
}
h1{
    font-family: "Lora", serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.welcome{
    background-image: url(./images/castle.jpg);
    background-size: cover;
    max-width: 600px;
    border-radius: 15px;
    margin-top: 2.7rem;
    padding: 2rem;
    height: 800px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.welcomenote{
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    line-height: 3rem;
    font-weight: 600;
    color: whitesmoke;
}
.introimg{
    margin: 2rem;
    max-width: 33rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.introarticle{
    margin-top: 1rem;
    padding: 0px;
}
.ridelist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ride{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.ride img{
    width: 100%;
    border-radius: 0.5rem;
}
.ride span{
    font-size: 0.9rem;
}
.ride:hover{
    border: 2px solid red;
    transition: 0.5s ease-in;
    cursor: pointer;
    h3{
        color: red;
        transition: 0.5s ease-in;
    }
    
}
.popularridestitle{
    font-family: "Lora", serif;
    font-size: 5rem;
    padding: 2rem;
    color: blueviolet;
    text-shadow: 3px 3px 6px black;
}
.card{
    margin: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media only screen and (min-width: 576px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 760px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 992px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1100px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1600px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.packages{
    font-family: "Lora", serif;
    font-size: 5rem;
    padding: 2rem;
    color: blueviolet;
    text-shadow: 3px 3px 6px black;
    margin: 2rem;
}
.aboutheading{
    font-family: "Lora", serif;
    font-size: 5rem;
    padding: 2rem;
    color: blueviolet;
    text-shadow: 3px 3px 6px black;
    margin: 2rem;
}
.aboutdescription{
    font-size: 2rem;
    margin: 2rem;
    color: white;
    text-shadow: 4px 4px 8px black;
    max-width: 800px;
}
.contactusfooter{
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 2rem;
    color: black;
    text-shadow: 3px 3px 6px white;
}
.section5{
    max-width: 700px;
}
.buttondiv{
    display: flex;
    align-items: center;
}